<h3>SOCKET CLIENTE</h3>
<form id="form">
    <label>Title:</label><input type="text" name="title" id="title"><br>
    <label>Description:</label><input type="text" name="description" id="description"><br>
    <label>Code:</label><input type="number" name="code" id="code"><br>
    <label>Price:</label><input type="number" name="price" id="price"><br>
    <label>Status:</label><input type="text" name="status" id="status"><br>
    <label>Stock:</label><input type="number" name="stock" id="stock"><br>
    <label>Category:</label><input type="text" name="category" id="category"><br>
    <input type="submit" value="SEND">
</form>

<form id="formDelete">
    <label>Ingrese el Id del producto que desea borrar:</label><input type="text" name="idDelete" id="idDelete">
    <button id="delete">Delete</button>
</form>

<p id="prod1"></p>

<script src="/socket.io/socket.io.js"></script>
<script src="/public/indexproducts.js"></script>