<h3>SOCKET CLIENTE</h3>
<form id="form">
    <label>Title:</label><input type="text" name="title" id="title">
    <label>Description:</label><input type="text" name="description" id="description">
    <label>Code:</label><input type="number" name="code" id="code">
    <label>Price:</label><input type="number" name="price" id="price">
    <label>Status:</label><input type="text" name="status" id="status">
    <label>Stock:</label><input type="number" name="stock" id="stock">
    <label>Category:</label><input type="text" name="category" id="category">
    <label>Thumbnails:</label><input type="text" name="thumbnails" id="thumbnails">
    <input type="submit" value="SEND">
</form>
<p id="products"></p>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>